<div class="container">
  <br>
  <h1>Editing category</h1>
  <br>
  <%= render "form", category: @category %>
  <br>
  <div class="btn-group">
    <%= link_to "Show this category", @category, class: "btn btn-secondary" %>
    <%= link_to "Back to categories", categories_path, class: "btn btn-outline-primary" %>
  </div>
</div>