<div class="container">
  <br>
  <h1>Create new category</h1>

  <%= render "form", category: @category %>

  <br>

  <div>
    <%= link_to "Back to categories", categories_path, class: "btn btn-outline-primary" %>
  </div>
</div>