<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">
  <canvas id="myChart"></canvas>
</div>

<script>
  const ctx = document.getElementById('myChart');

  const data = {
      labels: <%= raw @days %>,
      datasets: [{
          label: 'Day cost',
          data: <%= raw @days_costs %>,
          tension: 0.1,
          fill: false        
      }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  };

  const myChart = new Chart(ctx, config)
</script>