<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">
    <canvas id="myChart"></canvas>
  </div>


  <script>
    const ctx = document.getElementById('myChart');

    const data = {
        labels: <%= raw @category_names %>,
        datasets: [{
            data: <%= raw @category_costs %>,
            hoverOffset: 4          
        }]
    };

    const config = {
      type: 'doughnut',
      data: data,
     
    };

    const myChart = new Chart(ctx, config)
  </script>