<div class="container">
  <h2>Report for the period from <%= params[:date_start] %> to <%= params[:date_end] %></h2>
  <br>
  <div class="row">
    <div class="col-5">
      <%= render 'total_cost_table' %>
    </div>
    <div class="col-6">
      <%= render 'report_by_category_chart' %>
    </div>
  </div>
</div>

