<div class="container">
  <div class="row">
    <div class="col">
      <h2>Operations</h2>
    </div>
    
    <div class="col">
      <%= link_to "New operation", new_operation_path, class:"btn btn-success float-end" %>
    </div>
  </div>
  <br>

    <%= render 'operation_table' %>
</div>