<% provide :page_title, 'New Operation' %>

<div class="container">
  <h2>New operation</h2>
  <%= render "form", operation: @operation %>
  <br>
  
  <div>
    <%= link_to "Back to operations", operations_path, class: "btn btn-outline-primary"  %>
  </div>
</div>
