<div class="container">
  <br>
  <h2>Operation info</h2>
  <br>

  <%= render @operation %>

  <div class="btn-group">
    <%= link_to "Edit this operation", edit_operation_path(@operation), class: "btn btn-warning" %>
    <%= link_to "Back to operations", operations_path, class: "btn btn-outline-primary" %>
  </div>

  <div class="divider" style="height: 5rem"></div>

  <div class="card" style="width: 19rem">
    <div class="card-header">
      Danger zone
    </div>
    
    <div class="card-body">
    <%= button_to "Destroy this operation", @operation, method: :delete, class: "btn btn-danger" %>
    <small class="text-muted">Warning: this action cannot be undone</small>
  </div>
